@charset "utf-8";

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
/*@import url('//fonts.cdnfonts.com/css//resource/font/sf-ui-display');*/
@import url('//fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');


@font-face {
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 300;
    src: local('SF UI Display Light'), url('/resource/font/sf-ui-display-light-58646b33e0551.woff') format('woff');
}


@font-face {
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 500;
    src: local('SF UI Display Medium'), url('/resource/font/sf-ui-display-medium-58646be638f96.woff') format('woff');
}


@font-face {
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 600;
    src: local('SF UI Display Semibold'), url('/resource/font/sf-ui-display-semibold-58646eddcae92.woff') format('woff');
}


@font-face {
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 700;
    src: local('SF UI Display Bold'), url('/resource/font/sf-ui-display-bold-58646a511e3d9.woff') format('woff');
}

.font_sfui{font-family: 'SF UI Display';}
.font_lato{font-family: 'Lato';}

/* Reset Style */
*{margin:0; padding:0}
html{font-size: 10px;}
body{font-size:12px; font-size:1.2rem; line-height:18px; line-height:1.8rem; letter-spacing:0em; color:#262b2f;}
html, body {margin: 0; padding: 0; width: 100%; height: 100%;}
ul,ol,li{list-style:none}
img,hr{border:none}
img{max-width:100%;border:0px;vertical-align:top}
table{width:100%;border-spacing:0;table-layout:fixed}
table td img{vertical-align:middle}
a{display:inline-block;color:#262b2f;}
a:link, a:visited, a:active, a:hover{text-decoration:none;color:inherit}
body,p,div,ul,li,dl,dt,dd,ol,fieldset,textarea,input,select,table,th,td,address,cite,h1,h2,h3,h4,h5,h6,strong,b,label,button{font-family:  'SF UI Display', 'Spoqa Han Sans Neo', sans-serif; font-weight: 300;}
strong,h1,h2,h3,h4,h5,h6,th,dt,li{font-size:inherit;font-weight:inherit;color:inherit}
input{vertical-align:middle;outline:none}
select{width:100%; font-size:12px;color:#262b2f; vertical-align:top;border-radius:0;-webkit-appearance:none;-moz-appearance: none;appearance: none}
select::-ms-expand{display:none}
textarea{width:100%;background:#fff;box-sizing:border-box;vertical-align:middle;font-size:12px;color:#262b2f;resize:none}
input[type='file'], input[type='image'], input[type='reset'], input[type='button'], input[type='submit']{cursor:pointer}
hr{position:absolute;top:-9999px;left:-9999px}
caption{visibility:hidden;overflow:hidden;width:0;height:0;font-size:0;line-height:0}
legend{position:absolute;height:0;font-size:0px;line-height:0;overflow:hidden;text-indent:-9999px}
address,cite,em{font-style:normal}
fieldset{padding:0;border:0}
label{cursor:pointer}
button{border:0;background:none;cursor:pointer;outline:none}
