@charset "utf-8";

.header_wrap{position: fixed; top:0; left:0; width: 100%; z-index: 10;}
.header_wrap .header_con{padding-top: 12px; padding-left: 20px; padding-bottom: 15px; padding-right: 20px;
    border-bottom: 1px solid #e7e7f3; background-color: #fff; box-sizing: border-box;}
.header_wrap .logo_con{flex: 1 0 auto; text-align: center;}
.header_wrap .logo_con img{max-width: 120px;}
.header_wrap .right_con{position: relative; top: 8px; font-size:0px; font-size:0rem; line-height:0px; line-height:0.0rem; text-align: center; margin-left: 0px; /*overflow: hidden;*/}
.header_wrap .gnb_wrap{display: inline-flex; overflow: visible;/* margin-right: 35px;*/}
.header_wrap .gnb_wrap > ul{display: flex; align-items: center; font-size:0px; font-size:0rem; line-height:0px; line-height:0.0rem; margin-right: -7px;}
.header_wrap .gnb_wrap > ul > li{position: relative; }
.header_wrap .gnb_wrap > ul > li > a{padding-top: 5px; padding-bottom: 8px; padding-left: 7px; padding-right: 7px;}
.header_wrap .gnb_wrap > ul > li > a > span{font-size:13px; font-size:1.3rem; line-height:19px; line-height:1.9rem; letter-spacing: 0.01em; color: #adabbf; font-weight: 500;}
.header_wrap .gnb_wrap > ul > li > ul{display: none; position: absolute; width:131px; left: 50%; transform: translateX(-50%); background-color: #fff;
    padding: 13px 15px 12px; border-radius: 8px; border: 1px solid #e7e7f3; box-sizing: border-box;}
.header_wrap .gnb_wrap > ul > li > ul > li{text-align: center; padding-top: 13px; padding-bottom: 12px; border-top: 1px solid #e7e7f3;}
.header_wrap .gnb_wrap > ul > li > ul > li:first-child{padding-top: 0; border-top: none;}
.header_wrap .gnb_wrap > ul > li > ul > li:last-child{padding-bottom: 0;}
.header_wrap .gnb_wrap > ul > li > ul > li > a{display: block; max-width: 80px; margin: 0 auto; padding-top: 5px; padding-bottom: 5px;}
.header_wrap .gnb_wrap > ul > li > ul > li > a > span{font-size:12px; font-size:1.2rem; line-height:16px; line-height:1.6rem; letter-spacing: 0.01em; color: #adabbf; font-weight: 500;}
.header_wrap .gnb_wrap > ul > li > ul > li > ul{display: none; padding-top: 12px; padding-bottom: 3px; margin-top: 12px; border-top: 2px solid #262b2f;}
.header_wrap .gnb_wrap > ul > li > ul > li > ul > li{}
.header_wrap .gnb_wrap > ul > li > ul > li > ul > li:last-child{margin-bottom: 0px;}
.header_wrap .gnb_wrap > ul > li > ul > li > ul > li > a{display: block; padding-top: 6px; padding-bottom: 6px;}
.header_wrap .gnb_wrap > ul > li > ul > li > ul > li > a > span{font-size:12px; font-size:1.2rem; line-height:16px; line-height:1.6rem; letter-spacing: 0.01em; color: #adabbf; font-weight: 500;}

.header_wrap .gnb_wrap > ul > li:hover > ul{display: block;}
/*.header_wrap .gnb_wrap > ul > li > ul > li:hover > ul{display: block;}*/
.header_wrap .gnb_wrap > ul > li > ul > li:hover > a > span{color: #262b2f;}
/*.header_wrap .gnb_wrap > ul > li > ul > li > ul > li:hover > a > span{color: #ef8204;}*/

/*.header_wrap .gnb_wrap > ul > li.active > a > span{color: #262b2f;}*/
/*.header_wrap .gnb_wrap > ul > li > ul > li.active > a > span{color: #262b2f;}*/
/*.header_wrap .gnb_wrap > ul > li > ul > li > ul > li.active > a > span{color: #ef8204;}*/

.header_wrap .gnb_wrap > ul > li.effect > a > span{color: #262b2f;}
.header_wrap .gnb_wrap > ul > li > ul > li.effect > ul{display: block;}
.header_wrap .gnb_wrap > ul > li > ul > li.effect > a > span{color: #262b2f;}
.header_wrap .gnb_wrap > ul > li > ul > li > ul > li.effect > a > span{color: #ef8204;}

.header_wrap .menu_icon{display: none !important; position: absolute; top: 50%; right: 0; transform: translateY(-50%); display: inline-block; vertical-align: middle; font-size:0px; font-size:0rem; line-height:0px; line-height:0.0rem;}

@media all and (min-width: 768px){
    .header_wrap .header_con{display:flex; align-items: center; justify-content: space-between; padding-bottom: 21px;}
    .header_wrap .logo_con{text-align: left;}
    .header_wrap .logo_con img{max-width: 100%;}

    .header_wrap .right_con{top: 6px; margin-left: 30px;}

    .header_wrap .gnb_wrap > ul{margin-right: -10px;}
    .header_wrap .gnb_wrap > ul > li > a{padding-top: 16px; padding-bottom: 15px; padding-left: 10px; padding-right: 10px;}
    .header_wrap .gnb_wrap > ul > li > a > span{font-size:13px; font-size:1.3rem; line-height:19px; line-height:1.9rem; }
    .header_wrap .gnb_wrap > ul > li > ul > li > a{max-width: 100px;}

}

@media all and (min-width: 992px){
    .header_wrap .header_con{padding-left: 38px; padding-right: 35px;}

    .header_wrap .gnb_wrap{/*margin-right: 50px;*/}
    .header_wrap .gnb_wrap > ul{margin-right: -15px;}
    .header_wrap .gnb_wrap > ul > li > a{padding-left: 15px; padding-right: 15px;}
    .header_wrap .gnb_wrap > ul > li > a > span{font-size:15px; font-size:1.5rem; line-height:21px; line-height:2.1rem;}
    .header_wrap .gnb_wrap > ul > li > ul{width: 161px; padding-left: 20px; padding-right: 20px;}
    .header_wrap .gnb_wrap > ul > li > ul > li > a > span{font-size:14px; font-size:1.4rem; line-height:18px; line-height:1.8rem;}
    .header_wrap .gnb_wrap > ul > li > ul > li > ul{padding-bottom: 13px;}
    .header_wrap .gnb_wrap > ul > li > ul > li > ul > li > a > span{font-size:14px; font-size:1.4rem; line-height:18px; line-height:1.8rem;}

}

@media all and (min-width: 1200px){f
    .header_wrap .gnb_wrap > ul > li{margin-right: 43px;}
    .header_wrap .menu_icon{margin-left: 45px;}
}

@media all and (min-width: 1600px){

}