@charset "utf-8";

.header_wrap{position: fixed; top:0; left:0; width: 100%; z-index: 10;}
.header_wrap .header_con{display:flex; align-items: center; justify-content: space-between; padding-top: 15px; padding-left: 20px; padding-bottom: 23px; padding-right: 20px;
    border-bottom: 1px solid #e7e7f3; background-color: #fff; box-sizing: border-box;}
.header_wrap .logo_con{flex: 1 0 auto;}
.header_wrap .logo_con img{max-width: 110px;}
.header_wrap .right_con{position: relative; top: 8px; font-size:0px; font-size:0rem; line-height:0px; line-height:0.0rem; margin-left: 30px; overflow: hidden;}
.header_wrap .gnb_wrap{display: flex; overflow-y: auto; margin-right: 35px;}
.header_wrap .gnb_wrap > ul{display: flex; align-items: center; font-size:0px; font-size:0rem; line-height:0px; line-height:0.0rem;}
.header_wrap .gnb_wrap > ul > li{margin-right: 15px;}
.header_wrap .gnb_wrap > ul > li:last-child{margin-right: 0;}
.header_wrap .gnb_wrap > ul > li > a{}
.header_wrap .gnb_wrap > ul > li > a > span{font-size:12px; font-size:1.2rem; line-height:18px; line-height:1.8rem; color: #adabbf; font-weight: 500;}
.header_wrap .gnb_wrap > ul > li > a.active > span{color: #262b2f;}
.header_wrap .menu_icon{position: absolute; top: 1px; right: 0; display: inline-block; vertical-align: middle; font-size:0px; font-size:0rem; line-height:0px; line-height:0.0rem;}

@media all and (min-width: 768px){
    .header_wrap .logo_con img{max-width: 100%;}

    .header_wrap .right_con{top: 6px;}

    .header_wrap .gnb_wrap > ul > li{margin-right: 20px;}
    .header_wrap .gnb_wrap > ul > li > a > span{font-size:13px; font-size:1.3rem; line-height:19px; line-height:1.9rem; }

    .header_wrap .menu_icon{top: 3px;}
}

@media all and (min-width: 992px){
    .header_wrap .header_con{padding-left: 38px; padding-right: 35px;}

    .header_wrap .gnb_wrap{margin-right: 50px;}
    .header_wrap .gnb_wrap > ul > li{margin-right: 30px;}
    .header_wrap .gnb_wrap > ul > li > a > span{font-size:15px; font-size:1.5rem; line-height:21px; line-height:2.1rem;}

}

@media all and (min-width: 1200px){
    .header_wrap .gnb_wrap > ul > li{margin-right: 43px;}
    .header_wrap .menu_icon{margin-left: 45px;}
}

@media all and (min-width: 1600px){

}